<div class="card p-3">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="card-title">
                    Gráfica general de expedientes generados
                </h2>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <table class="table table-borderless"><caption class="caption-none"></caption>
                    <thead>
                        <tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lote: {{header.lote}}</td>
                            <td>Garante: {{header.garanteDescripcion}}</td>
                        </tr>
                        <tr>
                            <td rowspan="2">
                                Periodo: {{header.fechaDesdeHasta}}
                            </td>
                        </tr>
                    </tbody>
                   
                </table>

                <table class="table table-borderless"><caption class="caption-none"></caption>
                    <thead>
                        <tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">FACTURAS</th>
                            <th scope="col">%</th>
                        </tr>
                    </thead>
                   <tbody>
                    <tr *ngFor="let item of generadosEstadoList">
                        <td>{{item.estado}}</td>
                        <td>{{ item.totalxestado }}</td>
                        <td>{{ ((item.totalxestado/total)*100) | number:'0.0-2' }}%</td>
                    </tr>

                    <tr>
                        <td>Total:</td>
                        <td class="totales">{{total}}</td>
                        <td class="totales">{{totalPor}}%</td>
                    </tr>
                   </tbody>
                   
                </table>

            </div>
            <div class="col-lg-6">
                <div class="chart-cake-border">
                    <div class="chartConfigCSS">
                        <canvas id="chartCake"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>