.content__dialog {
    position: relative !important;
    padding-top: 20px;
    padding-bottom: 20px;
    #close-icon {
        display: inline-block;
        position: absolute;
        right: -5px;
        top: -10px;
    }
}

.mat-dialog-container {
    padding-top: 2rem;
}

.mat-dialog-content {
    text-align: center;
    font-size: 18px;
    h3.dialog--title {
        font-size: 25px;
    }

    .big-letter {
        font-size: 20px;
        margin-bottom: 1rem;
    }
}

.mat-dialog-actions {
    justify-content: center;
    a.btn--succes {
        background-color: #039fd7;
        color: #ffffff;
    }
}

.mat-icon {
    font-size: 100%;
}
.customIconSize {
    font-size: 50px ;
    height: 50px ;
    width: 50px ;
    color: #249E55;
}