.caja {
    border-radius: 10px;
    margin: 30px 25px 25px 25px;
    padding: 20px 10px 10px 10px;
    padding-top: 10px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 10px;
    background: #fafafc;
    opacity: 0.9;
}

.caja h1 {
    font-size: 50px;
    color: #2c689e;
    opacity: 100;
}

table {
    width: 100%;
}
th {
    width: 20%;
}
.tit{
    font-size: 28px;
    font-weight: bold;
}
