.contenido {
    width: 700px;
    height: 320px;
    background-color: white;
}

.content__dialog {
    position: relative !important;
    padding-top: 20px;
    padding-bottom: 20px;
    #close-icon {
        display: inline-block;
        position: absolute;
        right: -5px;
        top: -10px;
    }
}

.mat-dialog-container {
    padding-top: 2rem;
}

.mat-dialog-content {
    text-align: center;
    font-size: 16px;
    h3.dialog--title {
        font-size: 25px;
    }

    .big-letter {
        font-size: 20px;
        margin-bottom: 1rem;
    }
}

.mat-dialog-actions {
    justify-content: center;
    a.btn--succes {
        background-color: #039fd7;
        color: #ffffff;
    }
}

.user--img {
    width: 100px;
    height: 100px;
}

.cdk-overlay-pane {
    max-width: 60% !important;
}

.ptext {
    font-size: 15px;
}
.tit {
    font-size: 20px;
}
.dtext {
    font-size: 14px;
}
