table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.mat-icon {
    font-size: 22px;
}

.lib-icon {
    font-size: 19px;
}
.btn-rol {
    background-color: #2eafe2;
    color: #fff;
}
.btn-report {
    background-color: #2eafe2;
    color: #fff;
    margin-left: 330px;
    margin-bottom: 20px;
}

.btn-exp {
    margin-left: 150px;
    margin-bottom: 10px;
}
mat-grid-tile {
    background: none;
}
.tit{
    font-size: 28px;
    font-weight: bold;
}