.business{
    min-height: calc(100vh - 64px);
    background: url('../../../../../assets/8.jpg') no-repeat;
    background-size: cover;
}
.space{
    background-color: rgba(255,255,255,.5);
    height: 10px;
}