<div>
  <mat-toolbar>
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div fxShow="true" fxHide.lt-md="true">
      <a class="navbar-brand" routerLink="/">
        <img src="../assets/logo.png" alt="Logo Clinica Internacional" width="160" height="50">
      </a>
      <button mat-button routerLink="/home">Inicio</button>

      <button mat-button [matMenuTriggerFor]="menu"
        *appPermissionsHeader="[permission.VISUALIZAR_ROL,permission.VISUALIZAR_USUARIO]">Seguridad</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/roles" *appCheckPermissions="permission.VISUALIZAR_ROL">Roles</button>
        <button mat-menu-item routerLink="/user" *appCheckPermissions="permission.VISUALIZAR_USUARIO">Usuarios</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menu2"
        *appPermissionsHeader="[permission.CARGAR_DOCUMENTO,permission.VISUALIZAR_DETALLE_DOCUMENTOS]">Gestión Doc.
        Digitales</button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item routerLink="/documento/carga" *appCheckPermissions="permission.CARGAR_DOCUMENTO">Carga
          Documentos</button>
        <button mat-menu-item routerLink="/documentos/consulta"
          *appCheckPermissions="permission.VISUALIZAR_DETALLE_DOCUMENTOS">Consulta Documentos</button>

      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu3"
        *appPermissionsHeader="[permission.IR_EXPEDIENTE_DIGITAL,permission.GENERAR_EXPEDIENTE_DIGITAL, permission.MONITOREO_EXPEDIENTE_GENERADOS]">Expediente
        Digital</button>
      <mat-menu #menu3="matMenu">
        <button mat-menu-item routerLink="/gestion/lote" *appCheckPermissions="permission.IR_EXPEDIENTE_DIGITAL">Gestión
          de Lotes y Generación de Exp.</button>
        <button mat-menu-item routerLink="/documentos/moni-expediente"
          *appCheckPermissions="permission.MONITOREO_EXPEDIENTE_GENERADOS">Monitoreo Expedientes Generados</button>
        <button mat-menu-item routerLink="/lote/enviados-garante">Lotes Enviados al Garante</button>

      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menu4"
        *appPermissionsHeader="[permission.DESCARGAR_REPORTE_TOTAL,permission.GENERAR_REPORTE_PARCIAL,permission.DESCARGAR_REPORTE]">Reportes</button>
      <mat-menu #menu4="matMenu">
        <button mat-menu-item routerLink="/reporte/total"
          *appCheckPermissions="permission.DESCARGAR_REPORTE_TOTAL">Reporte Total</button>
        <button mat-menu-item routerLink="/reporte/parcial"
          *appCheckPermissions="permission.GENERAR_REPORTE_PARCIAL">Reporte Parcial</button>
        <button mat-menu-item routerLink="/otros/reportes" *appCheckPermissions="permission.DESCARGAR_REPORTE">Otros
          Reportes </button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menu5"
        *appPermissionsHeader="[permission.DASHBOARD_EXPEDIENTES_GENERADOS,permission.GENERAR_REPORTE_MECANISMO]">Dashboards</button>
      <mat-menu #menu5="matMenu">
        <button mat-menu-item routerLink="/dashboard/dash-exp-generados"
          *appCheckPermissions="permission.DASHBOARD_EXPEDIENTES_GENERADOS">Expedientes Generados</button>
        <button mat-menu-item routerLink="/dash/lote-enviado-garante"
          *appCheckPermissions="permission.DASHBOARD_ENVIADOS_GARANTE">Lotes enviados al Garante</button>
        <button mat-menu-item routerLink="/dashboard/dash-exp-mec-fact"
          *appCheckPermissions="permission.GENERAR_REPORTE_MECANISMO">Exp. Generados (Mecanismo -
          Facturación)</button>
      </mat-menu>



    </div>
    <span class="spacer"></span>

    <div class="usuario">
      <mat-icon>person</mat-icon>&nbsp;
      <span>{{userName}}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu7">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu7="matMenu">
        <button mat-menu-item routerLink="/cambiar/contrasena">
          <mat-icon>settings</mat-icon>Cambiar Contraseña
        </button>

      </mat-menu>
    </div>



    <button matTooltip="Cerrar sesión" mat-icon-button color="warn" (click)="SignOut()">
      <mat-icon>power_settings_new</mat-icon>
    </button>





  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <div>
        <button mat-button routerLink="/home" class="container-fluid">Inicio</button>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu"
          *appPermissionsHeader="[permission.VISUALIZAR_ROL,permission.VISUALIZAR_USUARIO]">Seguridad</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/roles" *appCheckPermissions="permission.VISUALIZAR_ROL">Roles</button>
          <button mat-menu-item routerLink="/user"
            *appCheckPermissions="permission.VISUALIZAR_USUARIO">Usuarios</button>
        </mat-menu>
      </div>

      <div>
        <button mat-button [matMenuTriggerFor]="menu2"
          *appPermissionsHeader="[permission.CARGAR_DOCUMENTO,permission.VISUALIZAR_DETALLE_DOCUMENTOS]">Gestión Doc.
          Digitales</button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item routerLink="/documento/carga" *appCheckPermissions="permission.CARGAR_DOCUMENTO">Carga
            Documentos</button>
          <button mat-menu-item routerLink="/documentos/consulta"
            *appCheckPermissions="permission.VISUALIZAR_DETALLE_DOCUMENTOS">Consulta Documentos</button>
        </mat-menu>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu3"
          *appPermissionsHeader="[permission.IR_EXPEDIENTE_DIGITAL,permission.GENERAR_EXPEDIENTE_DIGITAL, permission.MONITOREO_EXPEDIENTE_GENERADOS]">Expediente
          Digital</button>
        <mat-menu #menu3="matMenu">
          <button mat-menu-item routerLink="/gestion/lote"
            *appCheckPermissions="permission.IR_EXPEDIENTE_DIGITAL">Gestión
            de Lotes y Generación de Exp.</button>
          <button mat-menu-item routerLink="/documentos/moni-expediente"
            *appCheckPermissions="permission.MONITOREO_EXPEDIENTE_GENERADOS">Monitoreo Expedientes Generados</button>
          <button mat-menu-item routerLink="/lote/enviados-garante">Lotes Enviados al Garante</button>

        </mat-menu>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu4"
          *appPermissionsHeader="[permission.DESCARGAR_REPORTE_TOTAL,permission.GENERAR_REPORTE_PARCIAL,permission.DESCARGAR_REPORTE]">Reportes</button>
        <mat-menu #menu4="matMenu">
          <button mat-menu-item routerLink="/reporte/total"
            *appCheckPermissions="permission.DESCARGAR_REPORTE_TOTAL">Reporte Total</button>
          <button mat-menu-item routerLink="/reporte/parcial"
            *appCheckPermissions="permission.GENERAR_REPORTE_PARCIAL">Reporte Parcial</button>
          <button mat-menu-item routerLink="/otros/reportes" *appCheckPermissions="permission.DESCARGAR_REPORTE">Otros
            Reportes </button>
        </mat-menu>
      </div>

      <div>

        <button mat-button [matMenuTriggerFor]="menu5"
          *appPermissionsHeader="[permission.DASHBOARD_EXPEDIENTES_GENERADOS,permission.GENERAR_REPORTE_MECANISMO]">Dashboards</button>
        <mat-menu #menu5="matMenu">
          <button mat-menu-item routerLink="/dashboard/dash-exp-generados"
            *appCheckPermissions="permission.DASHBOARD_EXPEDIENTES_GENERADOS">Expedientes Generados</button>
          <button mat-menu-item routerLink="/dash/lote-enviado-garante"
            *appCheckPermissions="permission.DASHBOARD_ENVIADOS_GARANTE">Lotes enviados al Garante</button>
          <button mat-menu-item routerLink="/dashboard/dash-exp-mec-fact"
            *appCheckPermissions="permission.GENERAR_REPORTE_MECANISMO">Exp. Generados (Mecanismo -
            Facturación)</button>
        </mat-menu>
      </div>

    </mat-sidenav>
  </mat-sidenav-container>
</div>