<div class="contenido">
    <div class="content__dialog">
        <span id="close-icon" mat-dialog-close>
           <mat-icon>close</mat-icon>  
        </span>
        <div>
            <p class="tit">Sin Registro</p>
            <div mat-dialog-content>
                <div class="row align-items-center">
                    <div class=" detalle-error col-lg-12 mt-5 mb-5" >
                        <ul> 
                            <li> <strong class="ptext">{{error}}</strong></li>
                        </ul>
                    </div>
                    <div class="btn-aceptar col-lg-12 mt5" >
                        <button class="btn btn-cli-primary" (click)="closeModal()">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>